.body {
  background-color: #f4f4f4; /* Use a light gray background for the whole page */
  font-family: Arial, sans-serif; /* Arial is a common font choice */
  height: 100vh; /* Make the body take up the full height of the viewport */
  display: flex; /* Use flexbox to center the container */
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
}

.container {
  width: 80%; /* Make the container take up 80% of the width of the body */
  max-width: 600px; /* Limit the maximum width of the container */
  padding: 20px; /* Add some padding around the content */
  background-color: #fff; /* Use a white background for the container */
  border-radius: 4px; /* Add rounded corners to the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the container */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logoLink {
  display: block; /* Make the logo take up the full width of the container */
  margin-bottom: 20px; /* Add some space below the logo */
  order: 1;
}

.logo {
  max-width: 100%; /* Make the logo responsive */
  height: auto; /* Maintain the aspect ratio of the logo */
}

.formContainer {
  padding: 20px; /* Add some padding around the form */
  order: 2;
}

.heading {
  color: #ffb129; /* Use black for the heading */
  font-size: 24px; /* Increase the font size of the heading */
  margin-bottom: 10px; /* Add some space below the heading */
}

.subheading {
  color: #000; /* Use black for the subheading */
  margin-bottom: 20px; /* Add some space below the subheading */
}

.form {
  display: flex; /* Use flexbox to layout the form elements */
  align-items: center; /* Align the form elements vertically */
}

.emailInput {
  flex-grow: 1; /* Make the email input take up the remaining space */
  margin-right: 10px; /* Add some space to the right of the email input */
  padding: 10px; /* Add some padding inside the email input */
  border: 1px solid #d8d8d8; /* Add a border around the email input */
  border-radius: 4px; /* Add rounded corners to the email input */
}

.submitButton {
  padding: 10px 20px; /* Add some padding inside the submit button */
  background-color: #ffb129; /* Use a yellow color for the submit button */
  color: #000; /* Use black for the submit button text */
  border: none; /* Remove the border from the submit button */
  border-radius: 4px; /* Add rounded corners to the submit button */
  cursor: pointer; /* Change the cursor when hovering over the submit button */
}

.submitButton:hover {
  background-color: #e6a115; /* Darken the background color of the submit button when hovering */
}
